@use "scss/defaults/colors";

.card {
  border-width: 0;
  break-inside: avoid;

  .progress {
    height: 0.25rem;
  }

  &.error {
    color: colors.$s3gw-color-white;
    background-color: colors.$s3gw-color-error;
  }
}
