@use 'src/scss/defaults/colors';
@use 'src/scss/defaults/variables';

.s3gw-top-bar {
  background-color: colors.$s3gw-color-site-header-background;
  height: variables.$s3gw-site-header-height;

  ::ng-deep .btn {
    color: colors.$s3gw-color-submenu-item-text;
  }
}
